<!-- Footer -->
<footer class=" fixed-bottom footer" style="background-color: rgb(0, 61, 141)">    <!--PARA APARECER O RED, TEM QUE TIRAR O (PRIMEIRO DENTRO DAS "" bg-dark-->
    <div>
      <p style="padding-top: 10px;" class="text-white">Aplicação de exemplo de ecommerce</p>
    </div>
  </footer>
  
  